###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [2]:
import numpy as np
import pandas as pd

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [24]:
df1= pd.read_csv("college_1.csv")
df2= pd.read_csv("college_2.csv")
df1.dtypes

Name                  object
python               float64
mysql                float64
Previous Geekions      int64
CodeKata Score         int64
Department            object
Rising                 int64
dtype: object

In [28]:
df2.dtypes

Name                       object
python                    float64
python_en                   int64
mysql                     float64
computational_thinking      int64
Previous Geekions           int64
CodeKata Score              int64
Department                 object
Rising                      int64
dtype: object

In [27]:
df2 = df2.astype({"python":'float',"mysql":'float'}) 
df2.dtypes

Name                       object
python                    float64
python_en                   int64
mysql                     float64
computational_thinking      int64
Previous Geekions           int64
CodeKata Score              int64
Department                 object
Rising                      int64
dtype: object

In [33]:
df3 = pd.merge(df1,df2,on="Name",how="outer")
df3

,Name,python_x,mysql_x,Previous Geekions_x,CodeKata Score_x,Department_x,Rising_x,python_y,python_en,mysql_y,computational_thinking,Previous Geekions_y,CodeKata Score_y,Department_y,Rising_y
0,A.Dharani,82.0,20.0,24500.0,24500.0,Computer Science and Engineering,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740.0,21740.0,Computer Science and Engineering,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680.0,19680.0,Computer Science and Engineering,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mugunthan S,100.0,47.0,10610.0,10610.0,Computer Science and Engineering,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sathammai.S,100.0,8.0,8980.0,8980.0,Computer Science and Engineering,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,praveen raj j,NaN,NaN,NaN,NaN,NaN,NaN,24.0,-1.0,0.0,0.0,2380.0,2380.0,Computer Science and Engineering,0.0
115,AMARNATH D,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,52.0,12.0,-1.0,1890.0,1890.0,Electronics and Communication Engineering,0.0
116,bala,NaN,NaN,NaN,NaN,NaN,NaN,32.0,49.0,0.0,-1.0,1720.0,1720.0,Electronics and Communication Engineering,0.0
117,XY Z,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,20.0,-1.0,-1.0,0.0,0.0,Computer Science and Engineering,0.0
118,Hariharan,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,-1.0,-1.0,0.0,0.0,0.0,Computer Science and Engineering,0.0

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [ ]:
if df3[CodeKata Score]>15000:

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

###### No of students participated

###### #Average completion of python course or my_sql or python english or computational thinking

###### rising star of the week (top 3 candidate who performed well in that particular week)

###### Shining stars of the week (top 3 candidates who has highest geekions)

###### Department wise codekata performence (pie chart)

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)